#scroll{
    overflow-y: scroll;
}

#Mio{
    background-color: #ffc107;
    padding-left: 2%;
    padding-top:6px ;
    padding-bottom: 6px;
}

h2{
    color: white;
}

.col-md-6{
    text-align: center;
    margin-bottom: 13%;
    
}

#Con{
    border: none;
    outline: none;
    padding: 7px 25px;
    background: #ffa41b;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 5%;
    transition: all .5s ease;
}

#Con:hover{
    cursor: pointer;
    background: #ffc107;
    color:white;
    text-decoration: none;
    transition: all .5s ease;
}


/*-------------------------------------------*/

h6{
    padding-top: 4px;
    margin-left: 6px;
}

.card{
    margin-top: 2%;
    position: relative;
 }

.card h6{
    text-align: left;
    margin-top: 1%;
}

.card h5{
    text-align: right;
}

#Naranja{
    margin-top: 4%;
    background-color: #ffc107;
}

/*------------------------------*/

.card img{
    cursor: pointer;
}

.modal{
    text-align: center;
}

button{
    border: 0px;
    outline: 0px !important;
    background-color: white;
}

#Eli{
    background-color: #e40000 ;
    color: white;
    padding: 11px 59px;
    font-weight: 400;
    border-radius: 3%;
    transition: all .5s ease;
}

#Eli:hover{
    background-color:red ;
    transition: all .5s ease;
}