.col-md-12{
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    left: 0px;
    background-color: #f2fbfc;
    transition: all .5s ease;
    box-sizing: border-box;
    overflow-y: scroll;
}

.card-body{
    background-color: white;
}

.card{
    margin-top: 5%;
    text-align: center;
    margin: auto;
    position: relative;
    z-index: 2;
}

.card::after{
    position: absolute;
    bottom: 0px;
    right: 0px;
    content: '';
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 94%;
    height: 94%;
    filter: blur(10px);
    z-index: -1;
    
}


@media only screen and (max-width: 600px){
    .col-md-6{
        width: 50%;
    }
}

#Top{
    margin-top: 5%;
}

.col-md-4{
    margin-top: 2%;
}

#Mio{
    padding-left: 1%;
}