#content{
    height: 90vh;
}


.col-md-8{
    text-align: center;
    margin-top: 2%;
}

.card{
    margin-top: 2%;
    margin: auto;
    margin-bottom: 2%;
    z-index: 2;
}

.card::after{
    position: absolute;
    bottom: 0px;
    right: 0px;
    content: '';
    background: linear-gradient(to top, #0f2027, #203a43, #2c5364);
    width: 97%;
    height: 94%;
    filter: blur(10px);
    z-index: -1;
    
}

.card-title{
    margin-bottom: 2%;
}

.card-body{
    background-color: white;
}

input{
    display: block;
    margin: auto;
    outline: none;
    margin-bottom: 3%;
    width: 50%;
    padding: 5px 0px 5px 2px;
    border: 1px solid #29174b;
    text-align: center;
}

textarea{
    outline: none;
    margin-bottom:3%;
    width: 50%;
    border: 1px solid #29174b;
}

::-webkit-input-placeholder{
    color: #372e46;
} 
::-moz-placeholder{
    color: #372e46;
}  
:-ms-input-placeholder{
    color: #372e46;
}  
:-moz-placeholder{
    color: #372e46;
}



button{
    display:block;
    margin: auto;
    margin-top: 3%;
    width: 20%;
    outline: none !important;
    background-color: #ffa41b;
    color: white;

}

#Con{
    position: absolute;
    float: right;
    border: none;
    outline: none;
    padding: 0px 25px 0px 25px;
    background: white;
    border-radius: 20px;
    cursor: pointer;
    z-index: 3;
    margin-top: 4px;
}

