#content{
    min-height: 90vh;
}

.card{
    margin-top: 5%;
    text-align: center;
    position: relative;
    z-index: 2;
}

.card::after{
    position: absolute;
    bottom: 0px;
    right: 0px;
    content: '';
    background: linear-gradient(to left, #000000, #434343);
    width: 99%;
    height: 94%;
    filter: blur(7px);
    z-index: -1;
    
}

h5{
    margin-top: 1%;
    padding: 1%;
    padding-bottom: 4%;
    margin-bottom: 0px !important;
}

@media only screen and ( max-width: 600px){
    h5{
        padding-bottom: 30px;
    }
}

#Pad{
    padding: 0%;
    background-color: white;

}

#Especial{
    height: 60px;
}

a{
    text-decoration: none !important;
    color: black;
}

/*----------*/

#Left{
    margin-top: 1%;
    text-align: right;
    display: block !important;
}

#Margen{
    margin-left: 2%;
    margin-bottom: 10%;
}

#User{
    margin-left: 2%;
    margin-bottom: 5%;
}

#Exit{
    margin-left: 2%;
}

