.col-md-4{
    text-align: center;
    padding: 0%;
    margin-top: 2%;
}

#Esta{
    margin-top: 7%;
    right: 5%;
    cursor: pointer;
}

.card-body{
    background-color: white;
}

.card{
    margin-top: 5%;
    text-align: center;
    margin: auto;
    position: relative;
    z-index: 2;
    width: 94%;
}


.card::after{
    position: absolute;
    bottom: 0px;
    right: 0px;
    content: '';
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e); 
    width: 94%;
    height: 94%;
    filter: blur(10px);
    z-index: -1;
    
}


@media only screen and (max-width: 790px){
    .col-md-6{
        width: 50%;
    }
}

button{
    outline: none !important;
    border: 0px;
    background-color: white;
    margin-top: 5%;
}

button a{
    text-decoration: none;
    color: white;
}

button a:hover{
    color: white;
    text-decoration: none;
}

.Po{
    cursor: pointer;
}

.col-sm-2{
    width: 20%;
}

/*---------------------------------*/

@media only screen and (max-width: 600px ){
    .col-sm-10{
        width: 80% !important;
    }
}
