#sidebar-container{
    min-height: 100vh;
    background-color: #000839;
    width: 16rem;
}

.logo h1{
    padding-top: 2%;
    padding-left: 4%;
    padding-bottom: 5%;
}

#sidebar-container .menu{
    width: 100%;
}

.menu a img{
    margin-left: 0% !important;
}

.menu a{
    padding-left: 7px;
    background-color: #000839;
    color: white;
    border-bottom: 1px solid #3c506a;
    transition: all .5s ease;
}

#linea{
    border-bottom: 1px solid #3c506a;
}

.menu a:hover{
    background-color: #020e58;
    color: orange;
    transition: all .5s ease;
}

.menu a span{
    font-size: 15px;
    font-weight: 600;
}

.logo img{
    display: none;
}

#content{
    overflow-y: scroll;
    max-height: 90vh;
}

nav{
    background-color: #000839 ;
    border-bottom: 1px solid #dee2e6;
    color: white;
}

#Negro{
    display: none;
}

#btn-menu{
    display: none;
}

nav img{
    cursor: pointer;
    display: none;
}
#grande{
    display: none;
}

/*------------------Tablets-----------------*/

@media only screen and (max-width:800px){
    #sidebar-container{
        width: 8rem;
        border-right: 0;
        background-color: #ffffff;
    }
    .logo{
        background-color: #ffffff;
        border: 0;
    }
    nav{
        background-color: #ffffff;
        border-bottom:1px solid #dee2e6;
        color: black;
    }
    .logo h1{
        display: none;
    }
    .logo img{
        display: block;
        margin: auto;
        width: 45%;
    }
    #Negro{
        display: block;
        margin-left: 12% !important;
    }
    #none{
        display: none;
    }
    .menu a{
        background-color: #ffffff;
        border: 0;
    }
    .menu a:hover{
        background-color: #f5eded;
    }
    #linea{
        border: 0;
    }
    .menu a span{
        display: none;
    }
    .menu a:hover{
        padding-left:16%;
       
    }
}

/*------------Celular--------------*/

@media only screen and (max-width:600px){
    nav img{
        display: block;
    }
    #sidebar-container{
        position: absolute;
        z-index: 3;
        margin-top: 63px;
        min-height: 90.5%;
        background-color: #000839;
        width: 100%;
        transform:translateX(-100%);
        transition: all .7s ease-out;
    }
    .abrir{
        transform: translateX(0%) !important;
    }
    .logo{
        height: 24px;
    }
    .logo img{
        display: none;
    }
    .logo h1{
        display: block;
        height: 47px;
        font-size: 32px;
        padding-top: 2px;
    }
    .menu a{
        background-color: #000839;
    }
    .menu a:hover {
        background-color: #020e58;
        padding-left: 5%;
    }
    #Negro{
        display: none;
    }
    #grande{
        display: inline-block;
        
    }
    .menu a span{
        display: inline-block;
        margin-left: 6px;
        font-size: 16px;
    }
} 

