.card{
    display: inline-block;
    margin-left: 3% ;
    margin-top: 3%;
    text-align: center;
    cursor: pointer;
}

#Agregar{
    text-align: right;
}

#Bot{
    display: block;
    position: absolute;
    background-color: #a6b808;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 18px;
    padding-left: 18px;
    text-decoration: none;
    color: white;
    border: .5px solid white;
}

h6{
    color: #305166;
}

.col-md-12{
    height: 100vh;
}

#content{
    height: 100vh;
}

/*   Submenu*/

#Margen{
    margin-right: 5%;
}

img{
    margin-left: 9%;
}

/*----- Contenido-----*/

#Centro{
    text-align: center;
}

input{
    width:70%;
    text-align: center;
    outline: none !important;
}

/*-----Otra Pag------*/

#Left{
    margin-top: 1%;
    margin-right: 5%;
    text-align: right;
    display: block !important;
}

#Eli{
    background-color: #e40000 ;
    color: white;
    padding: 11px 59px;
    font-weight: 400;
    border-radius: 3%;
    transition: all .5s ease;
}

#Eli:hover{
    background-color:red ;
    transition: all .5s ease;
}

/*------ Pagina menu-------*/

nav div a img{
    display: inline-block;
}

nav div .btn{
    background-color: #ffa41b;
    padding: 7px 22px;
    font-weight: 600;
    color: #000839;

}

@media only screen and (max-width:600px){
    nav img{
        margin-left: 1%;
        margin-right: 2%;
    }
}



