.col-md-12{
    text-align: center;
}

.card{
    margin-top: 10%;
    z-index: 2;
}

.card::after{
    position: absolute;
    bottom: -5px;
    right: -2px;
    left: -2px;
    content: '';
    background: linear-gradient(to top, #000000, #434343);
    width: 101%;
    height: 102%;
    filter: blur(6px);
    z-index: -1;
    
}

.card input{
    width: 100%;
    background-color: #000839;
    color: white;
}

.card button{
    margin-top: 9%;
    background-color: #ffa41b;
    outline: none !important;
    border: .5px solid #000839;
    color: #000839;
    font-weight: 500;
    transition: all .5s ease;
}

.card button:hover{
    color: #ffa41b;
    background-color: #000839;
    transition: all .5s ease;
    border: .5px solid #ffa41b;
}

.card-body{
    background-color: #000839;
}

.card-title{
    color: white;
}

input{
    display: block;
    width: 100%;
    margin-bottom: 3%;
    border: .5px solid #3728aa;
    background-color: #000839;
    color: white;
    padding: 5px 0px 5px 4px;
    outline: none;
}

input:hover{
    border: 1px solid #1c2a79 ;
}

::-webkit-input-placeholder{
    color: #d7cfe7;
} 
::-moz-placeholder{
    color: #d7cfe7;
}  
:-ms-input-placeholder{
    color: #d7cfe7;
}  
:-moz-placeholder{
    color: #d7cfe7;
} 