#content{
    height: 90vh;
}

th{
    color: white !important;
}

td{
    color: black !important;
}

#Black{
    color: black !important;
}

#alinear{
    text-align: left;
    margin-top: 4%;
}

.menu a{
    margin-left: 0px !important;
}

a{
    background-color: #ffa41b;
    color: white;
    padding: 5px 14px;
    text-decoration: none !important;
    margin-left: 1%;
}

a:hover{
    color: white;
}

.col-md-4{
    text-align: center;
}

button{
    width: 90%;
    margin: auto;
    margin-top: 3%;
    padding: 9px 0px;
    background-color: #343a40;
    color: white;
    transition: all .5s ease;
    outline: none !important;
}

button:hover{
    transition: all .5s ease;
    background-color: #191919;
    outline: none !important;
}

.col-md-4 a{
    background-color: white;
}
